<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" th:href="@{/}">WebApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div sec:authorize="isAnonymous()" class="navbar-nav ml-auto">
          <a class="nav-item nav-link" th:href="@{/login}">Login</a>
          <a class="nav-item nav-link" th:href="@{/register}">Register</a>
        </div>
        <div sec:authorize="isAuthenticated()" class="navbar-nav ml-auto">
          <a class="nav-item nav-link" th:href="@{/books}">Books</a>
          <a class="nav-item nav-link" th:href="@{/authors}">Authors</a>
          <a class="nav-item nav-link" th:href="@{/publishers}">Publishers</a>
          <a class="nav-item nav-link" th:href="@{/categories}">Categories</a>
          <a class="nav-item nav-link" th:href="@{/logout}">Logout</a>
        </div>
      </div>
    </nav>

      <!-- Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <hr>
                <h2>Save book</h2>
                <form action="#" th:action="@{/saveBook}" th:object="${book}" method="POST" enctype="multipart/form-data">
                   <input type="hidden" th:field="*{id}">
                    <input type="text" th:field="*{title}"
                    placeholder="Book title" class="form-control mb-4">
                    <textarea class="form-control mb-4" th:field="*{description}" placeholder="Enter info about book"></textarea>
                    <p>
                      <img id="thumbnail" th:src="@{'/uploads/images/'+${book.coverImage}}" alt="Cover image..." style="width: 30%;">
                    </p>
                   <input type="file" accept="image/png, image/jpeg, image/jpg" id="coverImg" name="coverImg" placeholder="Select cover image" class="form-control mb-4">
                    <input type="number" th:field="*{firstPublish}"
                    placeholder="First publish year" class="form-control mb-4">
                    <select th:field="*{author}" class="form-control mb-4">
                      <option th:value="-1" disabled selected>Select author of the book</option>
                      <option th:each="author : ${authors}" th:value="${author.id}">
                        <span th:text="${author.firstName}"></span> <span th:text="${author.lastName}"></span>
                      </option>
                    </select>     
                    <select th:field="*{publisher}" class="form-control mb-4">
                      <option th:value="-1" disabled selected>Select publisher of the book</option>
                      <option th:each="publisher : ${publishers}" th:value="${publisher.id}" th:text="${publisher.name}">
                      </option>
                    </select>      
                    <select th:field="*{category}" class="form-control mb-4">
                      <option th:value="-1" selected disabled>Select category of the book</option>
                      <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">
                      </option>
                    </select>              
                    <button type="submit" class="form-control btn btn-info mb-4">Save book</button>

                </form>
                <hr>
                <a th:href="@{/books}">Back to book list</a>
            </div>
        </div>
    </div>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function(){
        $('#coverImg').change(function() {
            showImageThumbnail(this);
        });
      });

      function showImageThumbnail(fileInput) {
        file = fileInput.files[0];
        reader = new FileReader();
        reader.onload = function(e){
          $('#thumbnail').attr('src',e.target.result);
        }
        reader.readAsDataURL(file);
      }
    </script>
</body>
</html>