<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" th:href="@{/}">WebApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div sec:authorize="isAnonymous()" class="navbar-nav ml-auto">
          <a class="nav-item nav-link" th:href="@{/login}">Login</a>
          <a class="nav-item nav-link" th:href="@{/register}">Register</a>
        </div>
        <div sec:authorize="isAuthenticated()" class="navbar-nav ml-auto">
          <a class="nav-item nav-link" th:href="@{/books}">Books</a>
          <a class="nav-item nav-link" th:href="@{/authors}">Authors</a>
          <a class="nav-item nav-link" th:href="@{/publishers}">Publishers</a>
          <a class="nav-item nav-link" th:href="@{/categories}">Categories</a>
          <a class="nav-item nav-link" th:href="@{/logout}">Logout</a>
        </div>
      </div>
    </nav>

      <!-- Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <hr>
                <h2>Save category</h2>
                <form action="#" th:action="@{/saveCategory}" th:object="${category}" method="POST">
                   <input type="hidden" th:field="*{id}">
                    <input type="text" th:field="*{name}" 
                    placeholder="Category name" class="form-control mb-4 col-4">
                    <button type="submit" class="form-control btn btn-info mb-4 col-4">Save category</button>

                </form>
                <hr>
                <a th:href="@{/categories}">Back to category list</a>
            </div>
        </div>
    </div>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
</body>
</html>